.property {
    padding-bottom: 30px;
}

.container {
    max-width: 1440px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}

.property__wrapper {

}

.property__link {

}

.property__img {
    width: 1392px;
    height: 302px;
    object-fit: cover;
    transition: 0.3s ease;
    border-radius: 12px;
}

.property__img:hover {
    transform: scale(1.01);
}