.swiperProducts {
    padding-bottom: 64px;
}

.container {
    max-width: 1440px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.swiper__products__list {
    display: flex;
    gap: 30px;
    overflow: hidden;
}

.swiper__products__item {
    width: 180px;
}

.swiper__productLink {
    text-decoration: none;
}

.swiper__products__img {
    width: 180px;
    background-color: #2b71f8;
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 12px;
}

.swiper__products__title {
    text-align: center;
    font-size: 18px;
    color: var(--primary-lightblack);
    transition: 0.3s ease;
}

.swiper__products__title:hover {
    color: red;
    transform: scale(1.03);
}

.swiper__btn {
    position: absolute;
    border: none;
    background: none;
    font-size: 40px;
    top: 40%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: var(--primary-white-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.swiper__btn[data-btn-type="left"] {
    left: 0;
}

.swiper__btn[data-btn-type="right"] {
    right: 0;
}